---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Best Paper Award | ISEE 2026" bodyClass="inner-page">

  
    <main class="main">

        <div class="page-title light-background">
            <div class="container">
                <h1>Best Paper Award</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li class="current">Best_Paper</li>
                    </ol>
                </nav>
            </div>
        </div>

        <section id="features-cards" class="features-cards section hero-date">
            <div class="container section-title pb-0" data-aos="fade-up">
                <p style="text-align: justify;">ISEE is delighted to announce the best paper award for the authors to
                    encourage the publishing of high quality research paper. All the presented papers automatically
                    considered and send to the evaluation committee to evaluate for the best paper. The committee
                    carefully evaluate those papers based on their originality, contributions to the field, quality of
                    presentations and scientific involvement. The evaluation committee select the best paper for award.
                    The best paper award generally set for each of the following research field.</p>
                <h2></h2>
            </div>
            <div class="container" data-aos="fade-up">
                <table class="table table-striped text-center align-middle">
                    <thead>
                        <tr>
                            <th scope="col" class="text-start">Category</th>
                            <th scope="col">Paper ID</th>
                            <th scope="col">Paper Title</th>
                            <th scope="col">Authors</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-start">Advanced Energy Systems</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td class="text-start">Environmental Challenges &amp; Solutions</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td class="text-start">Sustainable Development &amp; Infrastructure</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </section>



    </main>

</Layout>