---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Committee | ISEE 2026" bodyClass="inner-page">

      <main class="main">

        <div class="page-title light-background">
            <div class="container">
                <h1>Committee</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li class="current">Committee</li>
                    </ol>
                </nav>
            </div>
        </div>



        <!-- team-members Section -->
        <section id="team-members" class="team-members section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Organizing Committee</h2>
                <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <!-- Member 1 -->
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-members-member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/6.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr. S M Abdur Razzak</h4>
                                <span>Vice-Chancellor</span>
                                <div class="social">
                                    <a href="https://www.ruet.ac.bd/sma.razzak" target="_blank"><i
                                            class="bi bi-globe2"></i></a>
                                    <a href="mailto:sma.razzak@eee.ruet.ac.bd"><i class="bi bi-envelope-fill"></i></a>
                                    <a href="https://wa.me/+8801721013866" target="_blank"><i
                                            class="bi bi-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Member -->

                    <!-- Member 2 -->
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-members-member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/8.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr. Md. Nurul Islam</h4>
                                <span>Director of IEES</span>
                                <div class="social">
                                    <a href="https://www.me.ruet.ac.bd/nurul93213" target="_blank"><i
                                            class="bi bi-globe2"></i></a>
                                    <a href="mailto:nurul93213@me.ruet.ac.bd"><i class="bi bi-envelope-fill"></i></a>
                                    <a href="https://wa.me/+8801760051347" target="_blank"><i
                                            class="bi bi-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Member -->

                    <!-- Member 3 -->
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-members-member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/9.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr. Mahadi Hasan Masud</h4>
                                <span>Associate Director of IEES</span>
                                <div class="social">
                                    <a href="https://www.me.ruet.ac.bd/masud.08ruet" target="_blank"><i
                                            class="bi bi-globe2"></i></a>
                                    <a href="mailto:masud.08@me.ruet.ac.bd"><i class="bi bi-envelope-fill"></i></a>
                                    <a href="https://wa.me/+8801889316864" target="_blank"><i
                                            class="bi bi-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Member -->

                    <!-- Member 4 -->
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-members-member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/11.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr. Mohammad Shahed Hasan Khan Tushar</h4>
                                <span>Head of ME</span>
                                <div class="social">
                                    <a href="https://www.me.ruet.ac.bd/Mohammad_Shahed" target="_blank"><i
                                            class="bi bi-globe2"></i></a>
                                    <a href="mailto:shahedhk@gmail.com"><i class="bi bi-envelope-fill"></i></a>
                                    <a href="https://wa.me/+8801758509929" target="_blank"><i
                                            class="bi bi-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Member -->


                </div>

            </div>

        </section><!-- /team-members Section -->



        <!-- team-members Section -->
        <section id="team-members" class="team-members section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Technical Committee</h2>
                <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <!-- Member 5 -->
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="team-members-member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/13.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr. Md. Emdadul Hoque</h4>
                                <span>Director of Institutional Quality Assurance Cell</span>
                                <div class="social">
                                    <a href="https://www.me.ruet.ac.bd/mehoque" target="_blank"><i
                                            class="bi bi-globe2"></i></a>
                                    <a href="mailto:mehoque@me.ruet.ac.bd"><i class="bi bi-envelope-fill"></i></a>
                                    <a href="https://wa.me/8801713228615" target="_blank"><i
                                            class="bi bi-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Member -->

                    <!-- Member 6 -->
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="team-members-member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/14.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr. Md. Rokunuzzaman</h4>
                                <span>Professor</span>
                                <div class="social">
                                    <a href="https://www.me.ruet.ac.bd/rzaman" target="_blank"><i
                                            class="bi bi-globe2"></i></a>
                                    <a href="mailto:rzaman@me.ruet.ac.bd"><i class="bi bi-envelope-fill"></i></a>
                                    <a href="https://wa.me/8801763388064" target="_blank"><i
                                            class="bi bi-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Member -->

                    <!-- Member 7 -->
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="700">
                        <div class="team-members-member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/15.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr. Mhia Md. Zaglul Shahadat</h4>
                                <span>Professor</span>
                                <div class="social">
                                    <a href="https://www.me.ruet.ac.bd/mhiashahadat" target="_blank"><i
                                            class="bi bi-globe2"></i></a>
                                    <a href="mailto:zaglul@me.ruet.ac.bd"><i class="bi bi-envelope-fill"></i></a>
                                    <a href="https://wa.me/8801723098656" target="_blank"><i
                                            class="bi bi-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Member -->

                    <!-- Member 8 -->
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="800">
                        <div class="team-members-member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/16.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Mim Mashrur Ahmed</h4>
                                <span>Assistant Professor</span>
                                <div class="social">
                                    <a href="https://www.me.ruet.ac.bd/mashrur.ahmed" target="_blank"><i
                                            class="bi bi-globe2"></i></a>
                                    <a href="mailto:mashrur@me.ruet.ac.bd"><i class="bi bi-envelope-fill"></i></a>
                                    <a href="https://wa.me/8801759825470" target="_blank"><i
                                            class="bi bi-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Member -->

                </div>

            </div>

        </section><!-- /team-members Section -->



        <section id="features-cards" class="features-cards section hero-date">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>International Advisroy Committee</h2>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up">
                <table class="table table-striped align-middle">
                    <tbody>
                        <tr><td>Prof. Firoz Alam, RMIT, Australia</td></tr>
                        <tr><td>Mohammad Nurul Islam, Brunei</td></tr>
                        <tr><td>Prof. Murari Mohon Roy, Lakehead Univ, Canada</td></tr>
                        <tr><td>Prof. Md. Mahbub Alam, Harbin Institute of Technology, China</td></tr>
                        <tr><td>Prof. Li CHENG, Poly University, Hong Kong</td></tr>
                        <tr><td>Prof. Sanjeev Jain, IIT Delhi</td></tr>
                        <tr><td>Prof. Avinash K Agarwal, IIT Kanpur</td></tr>
                        <tr><td>Prof. Souvik Bhattacharyya, IIT Kharagpur, India</td></tr>
                        <tr><td>Prof. Hiroyuki HANIU, Kitami Institute of Technology, Japan</td></tr>
                        <tr><td>Prof. Takeshi MIZUNO, Saitama University, Japan</td></tr>
                        <tr><td>Prof. Toshio FUKUDA, Nagoya University, Japan</td></tr>
                        <tr><td>Prof. Mustafizur Rahman, NUS, Singapore</td></tr>
                        <tr><td>Prof. S. Kumar, AIT, Thailand</td></tr>
                        <tr><td>Prof. Manukid Parnichkun, AIT, Thailand</td></tr>
                        <tr><td>Prof. Yoshio Arai, Saitama University, Japan</td></tr>
                        <tr><td>Prof. Wakako Araki, Saitama University, Japan</td></tr>
                        <tr><td>Prof. Masaya TAKASAKI, Saitama University, Japan</td></tr>
                        <tr><td>Dr. Azharul Karim, Queensland University of Technology, Australia</td></tr>
                        <tr><td>Prof. Hiroyuki HANIU, Kitami Institute of Technology, Japan</td></tr>
                        <tr><td>Dr. Hemanshu Pota, UNSW, Australia</td></tr>
                        <tr><td>Dr. Sanjoy Paul, Australia</td></tr>
                        <tr><td>Prof. Somnath Chattopadhyaya, Indian Institute of Technology (IIT), India</td></tr>
                        <tr><td>Prof. Muhammad Aziz, University of Tokyo, Japan</td></tr>
                        <tr><td>Prof. Muhammad Rahman, Wichita State University, USA</td></tr>
                        <tr><td>Prof. Xingjian Jing, City University of Hong Kong, Hong Kong</td></tr>
                        <tr><td>Prof. Md. Mahbub Alam, Harbin Institute of Technology, China</td></tr>
                        <tr><td>Prof. Dr. Chunning Ji, Tianjin University, China</td></tr>
                        <tr><td>Dr. Aron MICHAEL, University of New South Wales, Australia</td></tr>
                        <tr><td>Dr. Hareesh Godaba, University of Sussex, UK</td></tr>
                        <tr><td>Prof. Ayhan Ince, Concordia University, Canada</td></tr>
                        <tr><td>Prof. Mansour Almazrouil, King Abdulaziz University, Kingdom of Saudi Arabia</td></tr>
                        <tr><td>Dr. Nazrul Islam, King Abdulaziz University, Kingdom of Saudi Arabia</td></tr>
                        <tr><td>Prof. Mamdud Hossain, Robert Gordon University, UK</td></tr>
                        <tr><td>Prof. Li Weihua, University of Wollongong, Australia</td></tr>
                        <tr><td>Dr. Sun Feng, Shenyang University of Technology, China</td></tr>
                        <tr><td>Prof. Amiya Ranjan Mohanty, IIT Kharakpur, India</td></tr>
                        <tr><td>Dr. Daisuke Yamaguchi, Okayama University, Japan</td></tr>
                    </tbody>
                </table>
            </div>
        </section>


        <section id="features-cards" class="features-cards section hero-date">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Finance & Sponsor Committee</h2>
                <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up">
                <table class="table table-striped align-middle">
                    <tbody>
                        <tr><td>Prof. Dr. Md. Shamimur Rahman (Chairman)</td></tr>
                        <tr><td>Prof. Dr. Mhia Md. Zaglul Shahadat (Secretary)</td></tr>
                        <tr><td>Prof. Dr. Rabiul Islam Sarkar, Head, ME</td></tr>
                        <tr><td>Prof. Dr. Md. Mosharraf Hossain, Head, IPE</td></tr>
                        <tr><td>Md. Firoj Ali, Head, MTE</td></tr>
                        <tr><td>Dr. Mohammad Nurur Rahman, Head, CFPE</td></tr>
                        <tr><td>Prof. Dr. Mohammad Shahed Hasan Khan Tushar, Head, MSE</td></tr>
                        <tr><td>Dr. Md. Mohibul Hossain, IPE</td></tr>
                        <tr><td>Sumaya Ishrat Moyeen, MTE</td></tr>
                        <tr><td>Md. Rakibul Islam, IPE</td></tr>
                        <tr><td>Miftahul Mobin Chowdhury Shabdik, ME</td></tr>
                        <tr><td>Mim Mashrur Ahmed, ME</td></tr>
                    </tbody>
                </table>
            </div>
        </section>


        <section id="features-cards" class="features-cards section hero-date">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Advertisement & Publication Committee</h2>
                <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up">
                <table class="table table-striped align-middle">
                    <tbody>
                        <tr><td>Prof. Dr. Md. Nurul Islam (Chairman)</td></tr>
                        <tr><td>Dr. Md. Shazib Uddin, Associate Professor (Secretary)</td></tr>
                        <tr><td>Dr. Md. Aminul Islam, MSE</td></tr>
                        <tr><td>Md. Rasel Sarkar, IPE</td></tr>
                        <tr><td>Md. Golam Kibria, ME</td></tr>
                        <tr><td>Md. Khairul Islam, GCE</td></tr>
                        <tr><td>Md. Faisal Rahman Badal, MTE</td></tr>
                        <tr><td>Md. Hafiz Ahamed, MTE</td></tr>
                        <tr><td>Md. Mehedi Hasan, MTE</td></tr>
                        <tr><td>Sajib Dey, CFPE</td></tr>
                        <tr><td>Pabitro Prosad Mondal, MSE</td></tr>
                        <tr><td>Mst. Esmotara Begum, GCE</td></tr>
                        <tr><td>Raihan Karal, ME</td></tr>
                        <tr><td>Md. Hasibul Hasan Himel, ME</td></tr>
                        <tr><td>Abdullah Al Mazed Khan, MSE</td></tr>
                        <tr><td>Shah Sadia Rahman Joya, GCE</td></tr>
                    </tbody>
                </table>
            </div>
        </section>


        <section id="features-cards" class="features-cards section hero-date">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Welcome & Reception Committee</h2>
                <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up">
                <table class="table table-striped align-middle">
                    <tbody>
                        <tr><td>Md. Wahedul Islam, Associate Professor (Chairman)</td></tr>
                        <tr><td>Abdul Mojid Parvej (Secretary)</td></tr>
                        <tr><td>Md. Manirul Islam, MTE</td></tr>
                        <tr><td>Md. Jahidul Haque, GCE</td></tr>
                        <tr><td>Md. Sidratul Montaha Hossain, GCE</td></tr>
                        <tr><td>Md. Limonur Rahman Lingkon, IPE</td></tr>
                    </tbody>
                </table>
            </div>
        </section>


    </main>

</Layout>