---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Keynote Speakers | ISEE 2026" bodyClass="inner-page" active="keynote">

    <main class="main">

      <div class="page-title light-background">
        <div class="container">
            <h1>Keynote Speakers</h1>
            <nav class="breadcrumbs">
              <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Keynote</li>
              </ol>
            </nav>
        </div>
      </div>

      <section id="testimonials" class="testimonials section">

        <div class="container section-title" data-aos="fade-up">
            <h2>Keynote Speakers</h2>
            <p style="text-align: justify;">The keynote sessions at ISEE 2026 will feature distinguished experts and
              thought leaders from academia and
              industry. They will share insights on emerging trends, cutting-edge research, and future challenges
              in
              Mechanical, Industrial, and Sustainable Engineering, inspiring innovation and collaboration among
              participants. </p>
        </div>


        <div class="container">

            <div class="row g-5">

              <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial-item d-flex flex-column">
                    <div class="d-flex align-items-center">
                      <div class="me-3">
                        <img src="/assets/img/21.jpg" class="testimonial-img" alt="">
                      </div>

                      <div>
                        <h3><a href="https://pure.kfupm.edu.sa/en/persons/naef-qasem/">Dr. Naef A.A. Qasem, PhD</a></h3>
                  <h4>Associate Professor, Dept. of Aerospace Engineering, King Fahd University of Petroleum and Minerals, Dhahran, Saudi Arabia</h4>
                  
                  <h4>
                    <span class="text-primary">Topic: "Zero- and Low-Carbon Flights."</span></h4>

                  <div class="keynote-members">
                    <div class="team-members-member">
                      <div class="member-info">
                        <div class="social mt-2">
                          <a href="https://pure.kfupm.edu.sa/en/persons/naef-qasem/" target="_blank"><i
                              class="bi bi-globe2"></i></a>
                          <a href="mailto:naefqasem@gmail.com"><i class="bi bi-envelope-fill"></i></a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <p class="mt-3">
                <i class="bi bi-quote quote-icon-left"></i>
                <span>
                  Dr. Naef Qasem is a Distinguished Associate Professor in the Department of Aerospace Engineering and a Research Scholar at the Interdisciplinary Research Center for Aviation and Space Exploration, King Fahd University of Petroleum & Minerals (KFUPM), Dhahran, Saudi Arabia. He earned his PhD in Mechanical Engineering from KFUPM in 2017. His research focuses on thermal sciences, including energy systems, clean propulsion, aerodynamics, thermal management, and separation processes. He has published over 100 peer-reviewed journal articles (predominantly in Q1, h-index 41), holds 15 U.S. patents, and has authored 2 books. He serves as a Young Editor for Applied Energy (Q1, IF = 11) and as a Guest Editor for some journals. He is a recipient of the KFUPM Distinguished Associate Professor Award, and has been ranked among the top researchers in Saudi Arabia in Sustainability and Essential Needs by RDIA.
                </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
                </div>

              </div>

              <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial-item d-flex flex-column">
                    <div class="d-flex align-items-center">
                      <div class="me-3">
                        <img src="/assets/img/22.jpg" class="testimonial-img" alt="">
                      </div>

                      <div>
                        <h3><a href="https://www.sems.qmul.ac.uk/staff/e.avital">Dr Eldad Avital</a></h3>
                  <h4>Reader in Fluids and Acoustics, Queen Mary University of London, UK</h4>
                  
                  <h4>
                    <span class="text-primary">Topic: "Advances in Aerodynamics and Energy Management of Small Wind Turbines"</span></h4>

                  <div class="keynote-members">
                    <div class="team-members-member">
                      <div class="member-info">
                        <div class="social mt-2">
                          <a href="https://www.sems.qmul.ac.uk/staff/e.avital" target="_blank"><i
                              class="bi bi-globe2"></i></a>
                          <a href="mailto:e.avital@qmul.ac.uk"><i class="bi bi-envelope-fill"></i></a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <p class="mt-3">
                <i class="bi bi-quote quote-icon-left"></i>
                <span>
                  Dr Avital is a Reader in Fluids and Acoustics at the school of engineering and materials science in Queen Mary University of London (QMUL). His research interests are in renewable energy, water-hydrodynamics, and bio fluid. His research has focused on drag reduction and improving aero-hydrodynamic efficiency using innovative approaches, many as inspired by nature’s bio solutions. These approaches were implemented in fluid machinery for power and energy production as well as supporting bio fluid systems as blood and urine flows. His group uses high-fidelity computational simulations along with reduced-order modelling and experimental validation. He has published more than 110 journal papers, he is an associate editor of two journals (Fluids and Frontiers in Energy Research), a senior fellow of the UK Advance HE and a fellow of the Royal Aeronautical Society.
                </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
                </div>

              </div>

            </div>

        </div>




      </section>

    </main>

</Layout>
