<footer id="footer" class="footer">

  <div class="container footer-top">
    <div class="row gy-4">

      <div class="col-lg-6 col-md-6 footer-about">
        <a href="/" class="logo d-flex align-items-center">
          <span class="sitename">International Symposium on Energy & Environment</span>
        </a>
        <div class="footer-contact pt-3">
          <p>Rajshahi University of Engineering & Technology</p>
          <p>Station Rd, Rajshahi 6204</p>
          <p class="mt-3"><strong>Phone:</strong> <span>+880 1889-316864</span></p>
          <p><strong>Email:</strong> <span>director@iees.ruet.ac.bd</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="mailto:director@iees.ruet.ac.bd"><i class="bi bi-envelope-fill"></i></a>
          <a href="https://www.facebook.com/iees.ruet.ac.bd/"><i class="bi bi-facebook"></i></a>
          <a href="https://wa.me/+8801889316864"><i class="bi bi-whatsapp"></i></a>
          <a href="https://www.linkedin.com/company/iees-ruet/">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/Submission">Submission</a></li>
          <li><a href="/Registration">Registration</a></li>
          <li><a href="/Best_Paper">Best Paper Award</a></li>
          <li><a href="/Keynote">Keynote Speakers</a></li>
          <li><a href="/Committee">Committee</a></li>
          <li><a href="/Contact">Contact</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">IEES</strong> <span>All Rights Reserved</span></p>
    <!-- <div class="credits">
      Designed by <a href="https://www.me.ruet.ac.bd/">Department of Mechanical Engineering, RUET</a>
    </div> -->
  </div>

</footer>